.DS_Store
_Ignored
Icons/
TODO.txt
Resources/ffmpeg/sharedLibs
Resources/ffmpeg/ffmpeg-4.3.1
unused.rb
_Aural.xcodeproj_/project.xcworkspace/xcuserdata/joerg.xcuserdatad/UserInterfaceState.xcuserstate
_Aural.xcodeproj_/project.xcworkspace/xcuserdata/kven.xcuserdatad/UserInterfaceState.xcuserstate
